body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url(images/donation12.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.banner h1 {
    font-size: 4em;
    color: red;
    text-align: center;
    padding-top: 5%;
}

.banner p {
    font-size: 2em;
    color: blue;
    text-align: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.button {
    text-decoration: none;
    color: aqua;
    margin: 45%;
    padding: 10px 10px;
    background-image: linear-gradient(white, red);
    border-radius: 20px;
}

.DonateToday h1 {
    text-align: center;
    font-size: 2em;
}

.DonateToday p {
    text-align: center;
}

.Alldonate {
    display: flex;
    justify-content: center;
}

.amount {
    margin-top: 20px;
    margin-left: 30px;
    padding: 30px;
    box-shadow: 20px 15px 60px grey;
    border-radius: 10px;
}

.selectAmount {
    border: 5px solid red;
    background-image: linear-gradient(rgb(219, 213, 213), rgb(108, 70, 70));
}

.otherAmount {
    margin-top: 100px;
    margin-bottom: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.DonationPlan h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 2em;

}

#DoPlan {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}

.CardsPlan {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.plan {
    height: 270px;
    background-color: aqua;
    margin: 40px;
    padding: 30px;
}

.planTwo {
    height: 270px;
    background-color: rgb(201, 227, 103);
    margin: 40px;
    padding: 30px;
}

.planThree {
    height: 270px;
    background-color: rgb(227, 140, 227);
    margin: 40px;
    padding: 30px;
}